#app{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #01394e;
}
body{
  margin: 0;
  padding: 0;
}
.app-container{
  position: relative;
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #01394e;
  color: wheat;
}

.app-functions-bar{
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rebeccapurple;
}

.function-link{
  list-style: none;
  cursor: pointer;
}

.function-container{
  position: relative;
  display: flex;
  margin-top: 9% ;
  width: 80%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0,87,21,0.96);
}
.forms{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form-input{
  margin: 1%;
  height: 2em;
}

.submit-button{
  height: auto;
  width: auto;
  margin: 1em;
}

.post-type-buttons{
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
